<div fxLayout="column">
  <div fxLayout="row" class="sum">
    <app-income-vs-outcome [monthsMovements]="monthsMovements" [selectedMonth]="selectedMonth"></app-income-vs-outcome>
    <app-month-sum-info [monthsMovements]="monthsMovements" [selectedMonth]="selectedMonth"></app-month-sum-info>
  </div>
</div>
