.mat-card {
  width: 400px;
  height: 158px;
  background: darkgrey;
  border-radius: 50px;
}

.mat-card-header {
  justify-content: center;
}

.mat-card-content {
  /* todo better way to center? */
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: right;
}
