<mat-card>
  <mat-card-header>
    <mat-card-title><b>סיכום</b></mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <!-- the balance has no currency pipe because it can be a string -->
    <h3><b>יתרה: </b> {{ selectedBalance }}</h3>
    <h3><b>סכום שנחסך: </b>{{ selectedSavings | currency:'NIS':'₪' }}</h3>
    <h3><b>ממוצע חיסכון: </b>{{ averageSavings | currency:'NIS':'₪' }}</h3>
  </mat-card-content>
</mat-card>
