<div>
  <table mat-table [dataSource]="selectedMovements">
    <ng-container matColumnDef="description">
      <th mat-header-cell fxFlex="200px" *matHeaderCellDef> תיאור </th>
      <td mat-cell fxFlex="200px" *matCellDef="let movement">
        <div *ngIf="isCard(movement.description); else elseBlock">
          <span matTooltip="לחץ לפירוט" matTooltipPosition="before">{{movement.description}}</span>
        </div>
        <ng-template #elseBlock>{{movement.description}}</ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell fxFlex="120px" *matHeaderCellDef> תאריך </th>
      <td mat-cell fxFlex="120px" *matCellDef="let movement"> {{movement.date}} </td>
    </ng-container>
    <!-- todo maybe change to currency? but it slows down the first upload -->
    <ng-container matColumnDef="credit">
      <th mat-header-cell fxFlex="100px" *matHeaderCellDef> זכות </th>
      <td mat-cell fxFlex="100px" *matCellDef="let movement"> {{movement.credit }} </td>
    </ng-container>

    <ng-container matColumnDef="debt">
      <th mat-header-cell fxFlex="100px" *matHeaderCellDef> חובה </th>
      <td mat-cell fxFlex="100px" *matCellDef="let movement"> {{movement.debt }} </td>
    </ng-container>

    <ng-container matColumnDef="balance">
      <th mat-header-cell fxFlex="100px" *matHeaderCellDef> יתרה </th>
      <td mat-cell fxFlex="100px" *matCellDef="let movement"> {{movement.balance }} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns;"></tr>
  </table>
</div>
