table {
  margin: 40px auto;
  background: darkgrey;
}

td, th {
  text-align: right;
}

.mat-header-cell {
  color: darkred;
  text-align: right;
  font-size: medium;
}

.table-row {
  height: 20px;
}


