<mat-tab-group mat-align-tabs="center" (selectedTabChange)="onTabChange($event)">
  <mat-tab label="כרטיסי אשראי">
    <app-choose-month [monthsMovements]="monthMovements" [tabChanged]="tabChanged"></app-choose-month>
  </mat-tab>
  <mat-tab label="רשימת תנועות">
    <div fxLayout="column">
      <app-choose-month [monthsMovements]="monthMovements" [tabChanged]="tabChanged"></app-choose-month>
      <app-movements-list [monthsMovements]="monthMovements" [selectedMonth]="selectedMonth"></app-movements-list>
    </div>
  </mat-tab>
  <mat-tab label="סיכום חודשי">
    <ng-template matTabContent fxLayout="column">
      <app-choose-month [monthsMovements]="monthMovements" [tabChanged]="tabChanged"></app-choose-month>
      <app-report [monthsMovements]="monthMovements" [selectedMonth]="selectedMonth"></app-report>
    </ng-template>
  </mat-tab>
</mat-tab-group>
