<div class="selector">
<mat-form-field appearance="fill">
  <mat-label>בחר חודש</mat-label>
  <mat-select [(ngModel)]="selectedMonth" name="month" (selectionChange)="onMonthChange($event)">
    <mat-option *ngFor="let month of months" [value]="month.num">
      {{ month.name }}
    </mat-option>
  </mat-select>
</mat-form-field>
</div>
